<div class="container">
	<p class="lead">Covid Travel Advisory</p>
	<div class="header-bar">
		<h1 class="logo">M & V</h1>
		<ul class="slider-menu">
			<li>Home</li>
			<li>About</li>
			<li>Services</li>
		</ul>
	</div>
</div>