<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <header class="header">
            <%- include('../partials/header'); %>
        </header>

        <object data="covidmaplinks.svg" type="image/svg+xml"
         id="svg-object" width="100%" height="100%"></object>
        
        <script type="text/javascript">
            var clientRows = <%- rows %>
        </script>

        <script src="js/scripts.js" type="text/javascript"></script>

          <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div id="wtf">This here will display information about the country you clicked!</div>
            <div id="flightsearch"></div>
          </div>

          <div id="myRightSidebar" class="rightSidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
            <div id="main">
                <button class="openbtn" onclick="openNav()">&#9776; Open Chat</button>
            </div>
            <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/30233517-2001-4bc0-af6d-468a2d71c24a"></iframe>
          </div>

          <script>
          function openNav() {
            document.getElementById("myRightSidebar").style.width = "350px";
            document.getElementById("main").style.marginRight = "350px";
            document.getElementById("main").style.opacity = 0;
          }
          
          /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
          function closeNav2() {
            document.getElementById("myRightSidebar").style.width = "0px";
            document.getElementById("main").style.marginRight = "0px";
            document.getElementById("main").style.opacity = 1;
          }
        </script>

          <div>
            <iframe onload="this.width=screen.width;" height="900" src="https://datastudio.google.com/embed/reporting/f678645d-45d3-4f8f-a6c5-26db6cff1aca/page/p_1zo9qhjcnc" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <footer>
            <%- include('../partials/footer'); %>
          </footer>
    </body>
</html>